@page "/studio"

<PageTitle>X27: Studio Projects</PageTitle>
<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Studio Projects</strong></h1></MudText>
     <MudCard Elevation="2" Class="mt-2 pa-4" >
     <MudText><strong>Developers Without Limits Studio - Summer 2021</strong></MudText>
     <MudExpansionPanels Class="mt-4">
         <MudExpansionPanel Text="Xase" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/xase.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Xase</strong></h1></MudText>
                <MudText Typo="Typo.body2">Developers Without Limits Studio</MudText>
                <MudText Typo="Typo.button">August 8th 2021</MudText>
                </MudStack>
                <MudText><li>Analyzed the information provided by Summer 2021 Studio applicants and conducted a research about the verification of applicants.</li></MudText>
                <MudText><li>Collaborated as Front-End and Back-End developer while other developers were working on UI and Database Design to build a database program which helps employers to select the best candidate for software engineering positions.</li></MudText>
                <MudText><li>Developed DataGrind View, Eligibility Checker, Applicant Selector, Search/Sort and Tooltips using Windows Forms, MySQL and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/Developers-Without-Limits-Studio/Xase" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Project Husky" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/husky.jpg" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Project Husky</strong></h1></MudText>
                <MudText Typo="Typo.body2">Developers Without Limits Studio</MudText>
                <MudText Typo="Typo.button">June 30th 2021</MudText>
                </MudStack>
                <MudText><li>Founded the University of Michigan-Dearborn`s first app development studio.</li></MudText>
                <MudText><li>Managed a team of 14 developers to build a financial application is designed with cryptocurrency investors in mind.</li></MudText>
                <MudText><li>Created 12 UI Mockups and 8 application pages using Adobe XD, XAML, UWP and C#.</li></MudText>
                <MudText><li>Achieved team management skills while leading the studio.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/Developers-Without-Limits-Studio/project-husky" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
         </MudExpansionPanels>
         </MudCard>
         <MudCard Elevation="2" Class="mt-2 pa-4" >
     <MudText><strong>WolverineSoft Studios - Summer 2020</strong></MudText>
     <MudExpansionPanels Class="mt-4">
         <MudExpansionPanel Text="Bloom: Tome of Power" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/bloom.jpg" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Bloom: Tome of Power</strong></h1></MudText>
                <MudText Typo="Typo.body2">WolverineSoft Studios</MudText>
                <MudText Typo="Typo.button">August 2020</MudText>
                </MudStack>
                <MudText><li>Collaborated with Game Design and Art department to create an action-based video game through Jira and Confluence.</li></MudText>
                <MudText><li>Designed more than 30 icons and cursors and 6 UI mockups using Adobe Illustrator and Adobe Photoshop.</li></MudText>
                <MudText><li>Achieved fundamental UX/UI design skills while collaborating with a team.</li></MudText>
                <MudButton Class="mt-4" Href="https://wolverinesoft-studio.itch.io/bloom-tome-of-power" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
         </MudExpansionPanels>
         </MudCard>
</MudPaper>

@code {

}
