@page "/certificates"
<PageTitle>X27: Certificates</PageTitle>
<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>My Certificates</strong></h1></MudText>
    <MudStack Class="mt-4">
    <MudPaper Class="pa-4">
        <MudStack Row="true">
            <MudAvatar Image="certificates/osd.jpg" Class="ml-2 mt-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.body1">Certificate of Achievement</MudText>
                <MudText Typo="Typo.body2">Automative Manufacturers Association</MudText>
                <MudText Typo="Typo.button"><strong>Issued:</strong> July 2021</MudText>
           <MudText Typo="Typo.button"><strong>Credential ID:</strong> OSD10558313</MudText>
            </MudStack>
        </MudStack>
        <MudButton Class="mt-2" Href="https://dogrulama.ogrencikariyeri.com/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM CERTIFICATE (TURKISH)</MudButton>
        </MudPaper>
        </MudStack>
        <MudStack Class="mt-4">
    <MudPaper Class="pa-4">
        <MudStack Row="true">
            <MudAvatar Image="certificates/osd.jpg" Class="ml-2 mt-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.body1">Certificate of Participation</MudText>
                <MudText Typo="Typo.body2">Automative Manufacturers Association</MudText>
                <MudText Typo="Typo.button"><strong>Issued:</strong> July 2021</MudText>
           <MudText Typo="Typo.button"><strong>Credential ID:</strong> OSD72790375</MudText>
            </MudStack>
        </MudStack>
        <MudButton Class="mt-2" Href="https://dogrulama.ogrencikariyeri.com/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM CERTIFICATE (TURKISH)</MudButton>
        </MudPaper>
        </MudStack>
        <MudStack Class="mt-4">
          <MudPaper Class="pa-4">
        <MudStack Row="true">
            <MudAvatar Image="certificates/pearson.png" Class="ml-2 mt-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.body1">EdExcel Certificate</MudText>
                <MudText Typo="Typo.body2">Pearson</MudText>
                <MudText Typo="Typo.button"><strong>Issued:</strong> May 2016</MudText>
                </MudStack>
                </MudStack>
                </MudPaper>
                </MudStack>
                <MudStack Class="mt-4">
          <MudPaper Class="pa-4">
        <MudStack Row="true">
            <MudAvatar Image="certificates/swiss.jpg" Class="ml-2 mt-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.body1">Business Management Certificate</MudText>
                <MudText Typo="Typo.body2">Swiss Education Group</MudText>
                <MudText Typo="Typo.button"><strong>Issued:</strong> March 2016</MudText>
                </MudStack>
                </MudStack>
                </MudPaper>
                </MudStack>
    </MudPaper>

@code {

}
