@page "/courses"

<PageTitle>X27: Coursework</PageTitle>

<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>My Coursework</strong> (114/120 Credits)</h1></MudText>
    <MudCard Elevation="2" Class="mt-4 pa-4">
        <MudText Class="mb-2"><strong>University of Michigan-Dearborn</strong> (Counted - 100 Credits)</MudText>
                    <div>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/engr/" Label="true">ENGR 399 - Experiential Honors Professional Practice (1 Credit)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 4961 - Senior Design for SE I (2 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 476 - Software Architecture and Design Patterns (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 450 - Operating Systems (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 436 - Mobile Application Design and Development (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 435 - Web Technology (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 422 - Massive Data Management (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 376 - Software Engineering II (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 375 - Software Engineering I (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 350 - Data Structures and Algorithm Analysis (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 310 - Computer Organization and Assembly Language (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 306 - Discrete Structures II (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 297 - Introduction to C Sharp (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 285 - Software Engineering Tools (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 275 - Discrete Structures I (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/econ/" Label="true">ECON 201 - Principles of Macroeconomics (3 Credits)</MudChip>
                    <MudChip Href="https://catalog.umd.umich.edu/undergraduate/coursesaz/ent/" Label="true">ENT 400 - Introduction to Entrepreunership (3 Credits)</MudChip>
                    <MudChip Href="https://catalog.umd.umich.edu/undergraduate/coursesaz/ob/" Label="true">OB 354 - Organizational Behavior (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/biol/" Label="true">BIO 130 - Introduction to Organic and Environmental Biology (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/geol/" Label="true">GEOL 218 - Historical Geology (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/geol/" Label="true">GEOL 118 - Physical Geology (4 Credits)</MudChip>
                    <MudChip Href="https://catalog.umd.umich.edu/undergraduate/coursesaz/imse/" Label="true">IMSE 317 - Engineering Probability and Statistics (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/math/" Label="true">MATH 227 - Linear Algebra (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/math/" Label="true">MATH 116 - Calculus II (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/math/" Label="true">MATH 115 - Calculus I (4 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/comp/" Label="true">COMP 105 - Writing & Rhetoric I (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/hhs/" Label="true">HHS 200 - Introduction to Public Health (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/phil/" Label="true">PHIL 240 - Ethics (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/pol/" Label="true">POL 101 - Introduction to American Politics (3 Credits)</MudChip>
                    <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/pol/" Label="true">ARTH 106 - Architecture and Society in Western Civilization (3 Credits)</MudChip>
                </div>
                </MudCard>
                <MudCard Elevation="2" Class="mt-4 pa-4">
        <MudText Class="mb-2"><strong>Eastern Michigan University</strong> (Counted - 14 Credits)</MudText>
                    <div>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15767" Label="true">COSC 211 - Programming Data Structures (4 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15767" Label="true">COSC 111 - Introduction to Programming (4 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=269804" Label="true">WRTG 121 - Composition II: Researching the Public Experience (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=265539" Label="true">AD 121 - Two-Dimensional Design (3 Credits)</MudChip>
                        </div>
                </MudCard>
                <MudCard Elevation="2" Class="mt-4 pa-4">
        <MudText Class="mb-2"><strong>University of Michigan-Dearborn</strong> (Not Counted - 7 Credits)</MudText>
                <div>
            <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/cis/" Label="true">CIS 399 - Internship (1 Credit)</MudChip>
            <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/math/" Label="true">MATH 105 - Pre-Calculus (3 Credits)</MudChip>
            <MudChip Href="http://catalog.umd.umich.edu/undergraduate/coursesaz/art/" Label="true">ART 202 - Beginning Drawing (3 Credits)</MudChip>
                </div>
                </MudCard>
                <MudCard Elevation="2" Class="mt-4 pa-4">
                    <MudText Class="mb-2"><strong>Eastern Michigan University</strong> (Not Counted - 39 Credits)</MudText>
                    <div>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=266172" Label="true">COSC 146 - Applied Programming and Scripting (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15921" Label="true">SAG 285 - Studio I Simulation (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=268716" Label="true">SAG 225 - Graphics for Simulation II (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15921" Label="true">SAG 175 - Graphics for Simulation I (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15921" Label="true">SAG 155 - Vector Illustration for SAG (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15921" Label="true">SAG 105L4 - Introduction to Simulation, Animation and Gaming (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15761" Label="true">CMT 205 - Digital Photo-Technology (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=267803" Label="true">MATH 105 - College Algebra (3 Credits)</MudChip>
                        <MudChip Href="https://www.coursicle.com/emich/courses/MATH/104/" Label="true">MATH 104 - Intermediate Algebra (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/mime/media/32/3641/Math098_CourseOutline.pdf" Label="true">MATH 098 - Beginning Algebra (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=266314" Label="true">COMM 124 - Foundations of Speech Communication (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_course_nopop.php?catoid=37&coid=269807" Label="true">LEAD 201L1 - Introduction to Leadership (3 Credits)</MudChip>
                        <MudChip Href="https://catalog.emich.edu/preview_program.php?catoid=37&poid=15961" Label="true">ARTS 104 - Graphic Design for Non-Majors (3 Credits)</MudChip>
                        </div>
                </MudCard>
    </MudPaper>

@code {

}
