@page "/experience"
<PageTitle>X27: Experience</PageTitle>

<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Experience</strong></h1></MudText>
    <MudPaper Class="mt-2 pa-4">
        <MudStack Row="true">
            <MudAvatar Image="experience/uofm.jpg" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Undergraduate Research Assistant</strong></MudText>
                <MudText Typo="Typo.button">University of Michigan-Dearborn | Part-Time</MudText>
                <MudText Typo="Typo.body2">October 2024 - Present</MudText>
                <MudText Typo="Typo.body2">Dearborn, MI</MudText>
                <MudText Class="mt-2">
                    <li>
                        Drafting “Intelligent Vehicular Networks” survey and “Rollity” (rolling-shutter handwriting recognition) journal papers.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Created the Xamera Mobile App to capture and process LED gloves via rolling-shutter camera, leveraging Arduino, OpenCV, Camera2 API, Kotlin, and Android Studio for the Rollity journal paper.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Collected 100 handwriting datasets for a YOLO model using Camera2 API, Arduino, OpenCV, Python, Kotlin, and Android Studio for the Rollity journal paper.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Cited over 50 papers and created two figures for the Intelligent Vehicular Networks survey paper using Overleaf.
                    </li>
                </MudText>
            </MudStack>
        </MudStack>
        <MudStack Justify="Justify.Center">
            <MudButton Class="mt-4" Href="https://umich.edu/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Info">CONTACT UNIVERSITY OF MICHIGAN</MudButton>
        </MudStack>
    </MudPaper>
    <MudPaper Class="mt-2 pa-4">
        <MudStack Row="true">
            <MudAvatar Image="experience/aat3d.jpg" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Software Engineer Intern</strong></MudText>
                <MudText Typo="Typo.button">Applied Automation Technologies | Full-Time</MudText>
                <MudText Typo="Typo.body2">May 2024 - August 2024</MudText>
                <MudText Typo="Typo.body2">Rochester Hills, MI</MudText>
                <MudText Class="mt-2">
                    <li>
                        Evaluated and scripted nine Windows automation tools, recommending optimal software solutions.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Developed UML diagrams and documentation for CAPPS DMIS and CAPPS NC projects, utilizing both C++ and C#.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Improved performance and customer satisfaction by refactoring code from if-else to switch, optimizing global variables, fixing a database bug, and redesigning the connection dialog using C++, C#, MFC, and Windows Forms.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Advanced expertise in MFC and C++, with hands-on experience in TestComplete and Ranorex.
                    </li>
                </MudText>
            </MudStack>
        </MudStack>
        <MudStack Justify="Justify.Center">
            <MudButton Class="mt-4" Href="https://aat3d.com/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Dark">CONTACT AAT3D</MudButton>
        </MudStack>
    </MudPaper>
    <MudPaper Class="mt-2 mb-2 pa-8">
        <MudStack Row="true">
            <MudAvatar Image="experience/epitec.png" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
               <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Software Developer Intern</strong></MudText>
                <MudText Typo="Typo.button">Epitec | Full-Time</MudText>
                <MudText Typo="Typo.body2">May 2022 - July 2022</MudText>
                <MudText Typo="Typo.body2">Southfield, MI</MudText>
                <MudText Class="mt-2"><li>Collaborated with the Application Security Team as a full-stack developer to create a web application that helps recruiters to assign tasks to their contractors.</li></MudText>
                <MudText><li>Created pages and components by creating shared models to specify which data to be managed using C#, writing complex SQL queries to manage relevant data in database using RepoDB, replacing MVC controllers with Ardalis endpoints for client to perform CRUD operations using C#, 
testing each endpoint with Swagger, Postman and xUnit to make sure whether the API is working using JSON, creating HTTP requests for each endpoint to let the program to perform CRUD operations using HttpClient and C#, creating services and request handlers to trigger endpoints by Blazor app using HttpClient and C#
 and creating Blazor forms with MudBlazor components to provide a dynamic user experience using HTML, CSS and C#.</li></MudText>
                <MudText><li>Gained knowledge of Entity Framework Core, ASP.NET Core, RepoDB, ASP.NET MVC, Ardalis Endpoints, Swagger, Postman, xUnit, JSON, HttpClient, MudBlazor and Blazor.</li></MudText>
            </MudStack>
            </MudStack>
            <MudStack Justify="Justify.Center">
                <MudButton Class="mt-4" Href="https://epitec.com/contact/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Error">CONTACT EPITEC</MudButton>
            </MudStack>
    </MudPaper>
    <MudPaper Class="mt-2 pa-8">
        <MudStack Row="true">
            <MudAvatar Image="experience/wolverinesoft.png" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
               <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>User Experience Designer</strong></MudText>
                <MudText Typo="Typo.button">WolverineSoft Studio | Part-Time</MudText>
                <MudText Typo="Typo.body2">May 2020 - August 2020</MudText>
                <MudText Typo="Typo.body2">Ann Arbor, MI</MudText>
                <MudText Class="mt-2"><li>Participated University of Michigan-Ann Arbor`s WolverineSoft Studio.</li></MudText>
                <MudText><li>Collaborated with Game Design and Art department to create an action-based video game through Confluence.</li></MudText>
                <MudText><li>Designed more than 30 icons and cursors and 6 UI mockups using Adobe Illustrator and Adobe Photoshop.</li></MudText>
                <MudText><li>Achieved fundamental UX/UI design skills while collaborating with a team.</li></MudText>
            </MudStack>
            </MudStack>
             <MudStack Justify="Justify.Center">
                <MudButton Class="mt-4" Href="https://www.wolverinesoft.org/join-us" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Primary">CONTACT WOLVERINESOFT</MudButton>
            </MudStack>
    </MudPaper>
    </MudPaper>

@code {

}
